{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="login-container">
  <div class='login-container hashira'>
    <div class="row">

      <!-- Login Form Section -->
      <div class="column lg-6 tab-12 login-box">
        <h2>Check Your Email</h2>
        <p>We've sent you an email with instructions to reset your password.</p>

      </div>
      <!-- Image/Design Section -->
      <div class="column lg-6 tab-12">
        <div class="login-image">
          <img src="{% static 'images/auth/login2.png' %}" alt="Login Illustration">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}