{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="login-container">
    <div class='login-container hashira'>
        <div class="row">

            <!-- Login Form Section -->
            <div class="column lg-6 tab-12 login-box">
                <!-- Forgot Password Section -->
                <h2>Forgot Password?</h2>
                <form method="POST">
                    {% csrf_token %}

                    {% if usb_detected %}
                    <p>✅ USB Recovery Key Detected! You can reset your password now.</p>
                    {% else %}
                    <p>⚠️ Insert your registered USB key to reset your password.</p>
                    {% endif %}

                    <label for="password">Or Paste your Key Here</label>
                    <input type="password" name="password" required>

                    <button type="submit">Reset Password</button>
                </form>
            </div>
            <!-- Image/Design Section -->
            <div class="column lg-6 tab-12">
                <div class="login-image">
                    <img src="{% static 'images/auth/login2.png' %}" alt="Login Illustration">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}